<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/about.css"


  </head>

  <body>


<a href="/"> Home </a>
<a href="/photo-gallery"> Dope Photos </a>
    <h1> About page </h1>
      <p> Here at Vape nation, we believe vaping is going to change the world. Why you ask? Good question! Great question actually! etc.</p>
      <p> What people don't understand about vaping is that its more than just puffing dope ass smoke clouds that impresses everyone. <br>
          Vaping has caused a revolution like nothing before.
       </p>


    <img src="/images/200.webp">
    <p>
      The thing about vaping though, is that as cool and dope as it may be, there are alot of posers that might pretend that they know what vaping is all about.

    </p>
    <img src="/images/vapememe.jpg">

    <script id="startrek" src="/js/frontend.js"></script>

  </body>

</html>
