
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/photo-gallery.css">
    <title>Hello Express </title>
  </head>
  <body>
    <a href="/"> Home </a>
    <a href="/about"> About Us </a>

    <h1> Vaping is going to change the world </h1>
      <p> Here at Vape nation, we believe vaping is going to change the world. Why you ask? Good question! Great question actually! etc.</p>


    <img src="/images/vape.webp">
    <script src="/js/frontend.js"></script>


  </body>
</html>
